* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
    background-color: #272727;



    & #root {
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;

        header {
            h1 {
                text-align: center;
                color: aliceblue;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;

                span {
                    font-size: 15px;
                }
            }
        }

        main {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;



            & .radio-control-panel {

                min-height: 300px;
                border: 2px solid brown;
                border-radius: 15px;
                margin: 0 15px 15px 15px;
            }

            & .tracks-wrapper {
                position: absolute;
                height: 40dvh;
                z-index: 888;
                background-color: rgb(255, 255, 255);
                top: 50%;
                left: 200%;
                overflow-y: scroll;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                gap: 10px;
                transform: translate(-50%, -50%);
                transition: all .5s;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                &.center {
                    left: 50%;
                }

                & .track {
                    background-color: #272727;
                    width: 250px;

                    display: flex;
                    align-items: flex-start;
                    gap: 15px;

                    span {
                        color: wheat;
                        font-family: sans-serif;

                        overflow: hidden;
                        margin: 5px;
                        padding: 2px;

                        &:first-child {
                            width: 60px;
                            text-align: right;
                        }

                        &:last-child {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 180px;

                        }
                    }
                }
            }

        }

        footer {
            background-color: aliceblue;
        }
    }
}