@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    min-height: 100dvh;
    max-width: 100dvw;
    background-color: var(--mainBackgroundColor);
    color: var(--mainTextColor);

    & #root {}
}